* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
}


.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center-container {
  height: 32rem; 
  width: 90%; 
  max-width: 22rem; 
 
}

.app-heading {
  padding: 0.5rem;
  color: white;
  font-family: Cambria, Cochin, Georgia, 'Times New Roman', serif;
  text-transform: uppercase;
  font-size: larger;
}

/* Input section */
.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 0.7rem;
}

.input-box-todo {
  margin-left: 0.7rem;
  width: 70%;
  height: 2.5rem; 
  border-radius: 0.9rem;
  border: 0.07rem solid black;
  padding-left: 0.7rem;
  box-shadow: 0 0.6rem 1.3rem rgba(0, 0, 0, 0.3);
  outline: none;
  font-size: 1.1rem;
  background: white;
}

.add-btn {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: none;
  background-color: #316fc1;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  margin-left: 0.7rem;
  cursor: pointer;
  box-shadow: 0 0.3rem 0.7rem rgba(11, 10, 10, 0.3);
  transition: 0.3s;
}
.add-btn:hover{
  background-color: #08428f;
}
.add-btn:active {
  box-shadow: none;
}

/* Todo List Items */
.list-container {
  display: flex;
  align-items: center;
  margin-top: 0.3rem;
}

.list-item {
  list-style-type: none;
  border: 0.12rem solid rgb(161, 158, 158);
  color: white;
  padding: 0.2rem 0.3rem;
  border-radius: 0.3rem;
  width: 100%;
  height: 2.2rem; 
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 0.6rem;
  font-size: 1rem;
}

.icons {
  position: absolute;
  right: 0.6rem;
}

.icons i {
  margin: 0.3rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.1s;

}

.icons i:hover {
  transform: scale(1.2);
}

.icon-delete:hover {
  color: red;
}
.box{

  padding: 2rem;
 
}
.back{
padding: 0.3rem;
text-align: center;
}

@media (max-width: 480px) {
  .input-box-todo {
    height: 3rem;      
    font-size: 1rem;    
    padding-left: 1rem; 
  }
}

